hr {
    margin: 0em;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
    color: var(--azul);
    
}

.rodape-titulo {
    font-weight: 400;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape-titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .lista-rodape-item {
        display: flex;
        padding: 1em 0;
        align-items: center;
    }

    .lista-rodape-link {
        text-decoration: none;
        font-family: var(--fonte-principal);
        color: var(--cinza);
    }

    .rodape-titulo {
        font-weight: 500;
        font-size: 24px;
        margin-right: 2em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}